<div class="row">
    <h1 class="offset6">Login or register</h1>
    <fieldset class="span3 offset6">
        <legend>Login or register</legend>
        <label for="tb-username">Username</label>
        <input data-bind="value: username" type="text" id="tb-username" />
        <label for="tb-password">Password</label>
        <input data-bind="value: password" type="text" id="tb-password" /><br />
        <button class="btn btn-primary" data-bind="click: login">Login</button>
        <button class="btn" data-bind="click: register">Register</button>
    </fieldset>
</div>
